.page {
  height: 100%;
  margin: 0;
  padding: 0;
}

.page__body {
  display: grid;
  align-items: center;
  min-height: 100%;
  margin: 0;
  padding: 40px;

  color: $color-white;

  background-color: $background-color;
}

.page__main {
  display: flex;
  justify-content: center;
  align-items: center;
}

.page__footer {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;

  background-color: $block-background-color;
}
