// [1] Change the box model to "border-box"

*,
*::before,
*::after {
  // [1]
  box-sizing: border-box;
}

// *****************************************************************************

// [1] Remove inner shadow and rounded corners (iOS)
//
// [2] Remove red shadow (Firefox)

[type="text"],
[type="email"],
[type="tel"],
[type="password"],
[type="search"],
[type="number"],
textarea {
  // [1]
  -webkit-appearance: none;
  appearance: none;
  border-radius: 0;

  background: none;
  box-shadow: none;

  &:invalid {
    // [2]
    box-shadow: none;
  }
}

:-moz-ui-invalid {
  // [2]
  box-shadow: none;
}
