// Noto Serif Regular

@font-face {
  font-family: "Noto Serif";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local("Noto Serif"), local("Noto Serif Regular"),
    local("Noto-Serif-Regular"),
    url("#{$fonts}/NotoSerif-Regular.woff2") format("woff2");
}
// Noto Serif Italic

@font-face {
  font-family: "Noto Serif";
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: local("Noto Serif Italic"), local("Noto-Serif-Italic"),
    url("#{$fonts}/NotoSerif-Italic.woff2") format("woff2");
}

// Noto Serif Bold

@font-face {
  font-family: "Noto Serif";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local("Noto Serif Bold"), local("Noto-Serif-Bold"),
    url("#{$fonts}/NotoSerif-Bold.woff2") format("woff2");
}
// Noto Serif Bold Italic

@font-face {
  font-family: "Noto Serif";
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: local("Noto Serif Bold Italic"), local("Noto-Serif-Bold-Italic"),
    url("#{$fonts}/NotoSerif-BoldItalic.woff2") format("woff2");
}
