// Пути

$fonts: "../fonts";

// Цвета

$color-black: #000000;
$color-white: #ffffff;

$background-color: #61121c;

$input-background-color: #6b1521;
$input-background-hover-color: #721925;
$input-background-focus-color: #851f2d;
